# Ignore all files in the plugins folder
plugins/*

# Ignore the cbd theme
themes/cbd/*

# Ignore the twentytwentyone theme
themes/twentytwentyone/*

# Ignore the twentytwentytwo theme
themes/twentytwentytwo/*

# Ignore the twentytwentythree theme
themes/twentytwentythree/*
*.zip
upgrade
uploads
w3tc-config
wp-rocket-config
advanced-cache.php
languages
ai1wm-backups
cache/
logs/
